
@{
    Layout = null;
}
<li class="nav-item">
    <a class="nav-link" href="#"><i class="fas fa-bell"></i></a>

</li>
<li class="nav-item">
    <a class="nav-link" href="#"><span class="notification-count">5 new</span></a>
</li>